* {
  margin: 0;
  padding: 0;
}
body {
    height: 100vh;
    background-image: url(images/wood-dock.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position: center;
}
.navbar {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px;
}
nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-right: 20px;
} nav li {
    height: 60px;
    font-size: 15px;
    padding: 0 20px
}
nav a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black
}
nav li:hover {
    background-color: rgb(228, 228, 228);
}
nav li:first-child {
    margin-right: auto;
    margin-left: 20px;
}
.pop-up-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 10px 20px;

}
.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 800px;
    background-color: white;
    outline: 1px solid black;
    border-radius: 5px;
    display: none;
}
.pop-up-title {
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.pop-up-body {
    margin: 15px
}
.pop-up-header .close-pop-up {
    background-color: white;
    cursor: pointer;
}
.buttons-input {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
    
}
.buttons-button {
    display: flex;
    justify-content: space-evenly;
}
.dogs-button, .prime-button, .zodiac-button {
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(255, 137, 137);
}
.buttons-result-container {
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 200px
    
}
.buttons-result {
    text-align: center;
    margin: auto;
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



@media(max-width: 650px ) {
    .pop-up-body {
        font-size: 12px;
    }
}
@media(max-width: 540px) {
    .hideOnSmall {
        display: none;
    }
}